<!-- New Arrivals section start -->
<div class="layout_padding gallery_section">
    <div class="collection_section layout_padding">
        <div class="container">
            <h1 class="new_text asd"><strong>New Arrivals Products</strong></h1>
            <p class="consectetur_text asd">
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text">{{name}}</p>
                    <div class="shoes_icon"><img src="{{img}}" /></div>
                    <div class="star_text">
                        <div class="left_part">
                            <button class="btn btn-success" data-product="{{product}}">BUY</button>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">
                                $ <span style="color: #ff4e5b">{{price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>