<div class="cart">
  <table>
    <tr>
      <th>
        Img
      </th>
      <th>
        Name
      </th>
      <th>
        price
      </th>
      <th>
        action

      </th>
    </tr>
    <tbody>
    </tbody>
  </table>
  <div class="info">
    <h2 class="totalPrice">Total price $<span>0</span></h2>
  </div>

</div>